<?xml version="1.0" ?>
<config>
    <modules>
        <Shevchenko_Promo>
            <version>1.1</version>
        </Shevchenko_Promo>
    </modules>
    <global>
        <models>
            <shevchenko_promo>
                <class>Shevchenko_Promo_Model</class>
                <resourceModel>shevchenko_promo_resource</resourceModel>
            </shevchenko_promo>
        </models>
        <resources>
            <promo_setup>
                <setup>
                    <module>Shevchenko_Promo</module>
                    <class>Mage_Catalog_Model_Resource_Setup</class>
                </setup>
            </promo_setup>
        </resources>
        <blocks>
            <adminhtml>
                <rewrite>
                    <promo_catalog_edit_form>Shevchenko_Promo_Catalog_Adminhtml_Block_Edit_Form</promo_catalog_edit_form>
                </rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <catalog>
                <rewrite>
                    <image>Shevchenko_Promo_Catalog_Helper_Image</image>
                </rewrite>
            </catalog>
            <shevchenko_promo>
                <class>Shevchenko_Promo_Catalog_Helper</class>
            </shevchenko_promo>
        </helpers>
    </global>
    <adminhtml>
        <events>
            <adminhtml_controller_catalogrule_prepare_save>
                <observers>
                    <save_promo_image>
                        <class>shevchenko_promo/observer</class>
                        <method>adminhtmlControllerCatalogrulePrepareSave</method>
                        <type>model</type>
                    </save_promo_image>
                </observers>
            </adminhtml_controller_catalogrule_prepare_save>
            <adminhtml_block_html_before>
                <observers>
                    <event_column_append>
                        <type>model</type>
                        <class>shevchenko_promo/observer</class>
                        <method>adminhtmlBlockHtmlBefore</method>
                    </event_column_append>
                </observers>
            </adminhtml_block_html_before>
        </events>
    </adminhtml>
    <frontend>
        <events>
            <catalog_controller_product_view>
                <observers>
                    <promo_product_view>
                        <type>model</type>
                        <class>shevchenko_promo/observer</class>
                        <method>catalogControllerProductView</method>
                    </promo_product_view>
                </observers>
            </catalog_controller_product_view>
        </events>
    </frontend>

</config>